<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.mapper.BusiOrganMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.models.BusiOrgan" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
    <result column="INVITE_CODE" property="inviteCode" jdbcType="VARCHAR" />
    <result column="REBATE_RATE" property="rebateRate" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="AUDIT_STATUS" property="auditStatus" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>

</mapper>