<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.mapper.bank.CustomerBankAccountMapper" >
  <resultMap id="BaseResultMap" type="com.zdmoney.models.bank.CustomerBankAccount" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
    <result column="CB_ACCOUNT" property="cbAccount" jdbcType="VARCHAR" typeHandler="com.zdmoney.common.handler.SecurityFieldTypeHandler"/>
    <result column="CB_ACCOUNT_NAME" property="cbAccountName" jdbcType="VARCHAR" />
    <result column="CB_ACCOUNT_TYPE" property="cbAccountType" jdbcType="DECIMAL" />
    <result column="CB_BANK_CODE" property="cbBankCode" jdbcType="VARCHAR" />
    <result column="CB_BANK_NAME" property="cbBankName" jdbcType="VARCHAR" />
    <result column="CB_BRANCH_NAME" property="cbBranchName" jdbcType="VARCHAR" />
    <result column="CB_INPUT_ID" property="cbInputId" jdbcType="DECIMAL" />
    <result column="CB_INPUT_DATE" property="cbInputDate" jdbcType="TIMESTAMP" />
    <result column="CB_MODIFY_ID" property="cbModifyId" jdbcType="DECIMAL" />
    <result column="CB_MODIFY_DATE" property="cbModifyDate" jdbcType="TIMESTAMP" />
    <result column="CB_VALID" property="cbValid" jdbcType="DECIMAL" />
    <result column="CB_MEMO" property="cbMemo" jdbcType="VARCHAR" />
    <result column="CB_SUBBANK_CODE" property="cbSubBankCode" jdbcType="VARCHAR" />
    <result column="CB_BIND_PHONE" property="cbBindPhone" jdbcType="VARCHAR" typeHandler="com.zdmoney.common.handler.SecurityFieldTypeHandler"/>
  </resultMap>

    <resultMap id="BankCardBindNotify" type="com.zdmoney.webservice.api.dto.customer.BankCardBindNotifyDto" >
        <result column="CUSTOMER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="CB_ACCOUNT" property="cardNo" jdbcType="VARCHAR" typeHandler="com.zdmoney.common.handler.SecurityFieldTypeHandler"/>
        <result column="CB_INPUT_DATE" property="bindCardTime" jdbcType="TIMESTAMP" />
        <result column="CB_VALID" property="bindCardStatus" jdbcType="DECIMAL" />
    </resultMap>
  <sql id="Base_Column_List" >
    ID, CUSTOMER_ID, CB_ACCOUNT, CB_ACCOUNT_NAME, CB_ACCOUNT_TYPE, CB_BANK_CODE, CB_BANK_NAME, 
    CB_BRANCH_NAME, CB_INPUT_ID, CB_INPUT_DATE, CB_MODIFY_ID, CB_MODIFY_DATE, CB_VALID, 
    CB_MEMO,CB_SUBBANK_CODE,CB_BIND_PHONE
  </sql>

    <sql id="CustBankAccount" >
    ID, CUSTOMER_ID, CB_ACCOUNT, CB_ACCOUNT_NAME, CB_ACCOUNT_TYPE, CB_BANK_CODE, CB_BANK_NAME,
    CB_BRANCH_NAME, CB_INPUT_ID, CB_INPUT_DATE, CB_MODIFY_ID, CB_MODIFY_DATE, CB_VALID,
    CB_MEMO,CB_SUBBANK_CODE,CB_BIND_PHONE
  </sql>

  <insert id="insert" parameterType="com.zdmoney.models.bank.CustomerBankAccount" >
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            select SQ_CUSTOMER_BANK_ACCOUNT.nextval from dual
        </selectKey>
        insert into CUSTOMER_BANK_ACCOUNT (ID, CUSTOMER_ID, CB_ACCOUNT,
        CB_ACCOUNT_NAME, CB_ACCOUNT_TYPE, CB_BANK_CODE,
        CB_BANK_NAME, CB_BRANCH_NAME, CB_INPUT_ID,
        CB_INPUT_DATE, CB_MODIFY_ID, CB_MODIFY_DATE,
        CB_VALID, CB_MEMO,CB_SUBBANK_CODE,CB_BIND_PHONE)
        values (#{id,jdbcType=DECIMAL}, #{customerId,jdbcType=DECIMAL}, #{cbAccount,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler},
        #{cbAccountName,jdbcType=VARCHAR}, #{cbAccountType,jdbcType=DECIMAL}, #{cbBankCode,jdbcType=VARCHAR},
        #{cbBankName,jdbcType=VARCHAR}, #{cbBranchName,jdbcType=VARCHAR}, #{cbInputId,jdbcType=DECIMAL},
        #{cbInputDate,jdbcType=TIMESTAMP}, #{cbModifyId,jdbcType=DECIMAL}, #{cbModifyDate,jdbcType=TIMESTAMP},
        #{cbValid,jdbcType=DECIMAL}, #{cbMemo,jdbcType=VARCHAR},#{cbSubBankCode,jdbcType=VARCHAR},#{cbBindPhone,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler})
  </insert>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CUSTOMER_BANK_ACCOUNT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <!-- 根据客户编号查询银行账号 -->
  <select id="selectAccountByCustomerId" resultType="String" parameterType="java.lang.Long">
 select b.CB_ACCOUNT as CB_ACCOUNT
     from CUSTOMER_MAIN_INFO c
     LEFT JOIN CUSTOMER_BANK_ACCOUNT b
       ON c.CUSTOMER_BANK_ACCOUNT_ID = b.id
    where b.CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
  </select>

    <!-- 根据客户编号,银行卡号查询银行信息 -->
    <select id="selectBankAccountInfo" resultMap="BaseResultMap">
        select
           <include refid="Base_Column_List" /> from
         CUSTOMER_BANK_ACCOUNT
        where CUSTOMER_ID = #{0} and CB_ACCOUNT= #{1,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler} and (cb_valid is null or cb_valid = 0)
    </select>

   <update id="updateByCustomerId" parameterType="com.zdmoney.models.bank.CustomerBankAccount" >
    update CUSTOMER_BANK_ACCOUNT
    <set >
      <if test="cbAccount != null" >
        CB_ACCOUNT = #{cbAccount,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler},
      </if>
      <if test="cbAccountName != null" >
        CB_ACCOUNT_NAME = #{cbAccountName,jdbcType=VARCHAR},
      </if>
      <if test="cbAccountType != null" >
        CB_ACCOUNT_TYPE = #{cbAccountType,jdbcType=DECIMAL},
      </if>
      <if test="cbBankCode != null" >
        CB_BANK_CODE = #{cbBankCode,jdbcType=VARCHAR},
      </if>
      <if test="cbBankName != null" >
        CB_BANK_NAME = #{cbBankName,jdbcType=VARCHAR},
      </if>
      <if test="cbBranchName != null" >
        CB_BRANCH_NAME = #{cbBranchName,jdbcType=VARCHAR},
      </if>
      <if test="cbInputId != null" >
        CB_INPUT_ID = #{cbInputId,jdbcType=DECIMAL},
      </if>
      <if test="cbInputDate != null" >
        CB_INPUT_DATE = #{cbInputDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cbModifyId != null" >
        CB_MODIFY_ID = #{cbModifyId,jdbcType=DECIMAL},
      </if>
      <if test="cbModifyDate != null" >
        CB_MODIFY_DATE = #{cbModifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="cbValid != null" >
        CB_VALID = #{cbValid,jdbcType=DECIMAL},
      </if>
      <if test="cbMemo != null" >
        CB_MEMO = #{cbMemo,jdbcType=VARCHAR},
      </if>
       <if test="cbSubBankCode != null" >
       CB_SUBBANK_CODE= #{cbSubBankCode,jdbcType=VARCHAR},
      </if>
      <if test="cbBindPhone != null" >
      CB_BIND_PHONE= #{cbBindPhone,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler},
      </if>
    </set>
    where CUSTOMER_ID = #{customerId,jdbcType=DECIMAL}
       <if test="id != null" >
           and id= #{id,jdbcType=DECIMAL}
       </if>
       <if test="cbAccount != null" >
          and CB_ACCOUNT = #{cbAccount,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler}
       </if>
  </update>

  <update id="updateByPrimaryKey" parameterType="com.zdmoney.models.bank.CustomerBankAccount">
      update CUSTOMER_BANK_ACCOUNT
      set CUSTOMER_ID = #{customerId,jdbcType=DECIMAL},
      CB_ACCOUNT = #{cbAccount,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler},
      CB_ACCOUNT_NAME = #{cbAccountName,jdbcType=VARCHAR},
      CB_ACCOUNT_TYPE = #{cbAccountType,jdbcType=DECIMAL},
      CB_BANK_CODE = #{cbBankCode,jdbcType=VARCHAR},
      CB_BANK_NAME = #{cbBankName,jdbcType=VARCHAR},
      CB_BRANCH_NAME = #{cbBranchName,jdbcType=VARCHAR},
      CB_INPUT_ID = #{cbInputId,jdbcType=DECIMAL},
      CB_INPUT_DATE = #{cbInputDate,jdbcType=TIMESTAMP},
      CB_MODIFY_ID = #{cbModifyId,jdbcType=DECIMAL},
      CB_MODIFY_DATE = #{cbModifyDate,jdbcType=TIMESTAMP},
      CB_VALID = #{cbValid,jdbcType=DECIMAL},
      CB_MEMO = #{cbMemo,jdbcType=VARCHAR},
      CB_SUBBANK_CODE=#{cbSubBankCode,jdbcType=VARCHAR},
      CB_BIND_PHONE=#{cbBindPhone,jdbcType=VARCHAR,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler}
      where ID = #{id,jdbcType=DECIMAL}
  </update>

    <select id="listCustBankAccount" parameterType="Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from CUSTOMER_BANK_ACCOUNT
        where length(cb_bank_code) != 8 and (cb_valid is null or cb_valid = 0) and customer_id = #{customerId,jdbcType=DECIMAL}
        order by cb_input_date asc
    </select>

    <select id="selectBankAccountByBankCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> from
        CUSTOMER_BANK_ACCOUNT
        where CB_ACCOUNT= #{0,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler} and (cb_valid is null or cb_valid = 0)
    </select>

    <select id="selectBindCardRecord" resultMap="BankCardBindNotify" parameterType="java.util.Map" >
        select
          ID,CUSTOMER_ID,CB_ACCOUNT,CB_INPUT_DATE, 0 as CB_VALID
        from customer_bank_account   where (CB_VALID = 0 or CB_VALID is null)
        <if test="startDate != null">
            AND to_date(#{startDate},'yyyy/MM/dd HH24:MI:SS') &lt;= CB_INPUT_DATE
        </if>
        <if test="endDate != null">
            AND to_date(#{endDate},'yyyy/MM/dd HH24:MI:SS') &gt;= CB_INPUT_DATE
        </if>
    </select>

    <select id="selectBankAccountByBankCodeIgnoreDeletion" resultMap="BaseResultMap">
        select tt.* from  (
        select
        <include refid="Base_Column_List" /> from
        CUSTOMER_BANK_ACCOUNT
        where CB_ACCOUNT= #{0,typeHandler=com.zdmoney.common.handler.SecurityFieldTypeHandler}
        order by cb_input_date  desc) tt
        where rownum =1
    </select>
</mapper>