<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zdmoney.mapper.SearchBySqlMapper" >
  <!-- 传入查询的sql -->
  <select id="selectBySql" resultType="java.util.HashMap" parameterType="java.util.HashMap">
    ${sql}
  </select>
</mapper>