<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.2.xsd

	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	   http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
           ">


    <!-- 应用根据自己的实际情况，引入对应的配置-->
    <import resource="classpath*:/conf/spring.xml"/>
    <import resource="classpath:conf/spring-mybatis.xml"/>
    <import resource="classpath:conf/spring-redis.xml"/>
    <import resource="classpath:conf/spring-mvc.xml"/>
    <import resource="classpath:conf/spring-hessian.xml"/>
    <import resource="classpath:conf/spring-rocketMq.xml"/>
    <!-- 导入此配置文件时，确保dataSource连接池存在 -->
    <import resource="classpath*:/test/spring-dbunit.xml"/>


</beans>